/*My name in the navbar*/
header{
    text-align:center;
    height:75px;
    background: #332c2c;
}
.topBar{
    background-color:#d6d3c4;
    margin:0px;
}
.header{
    background-color:#d6d3c4;
    margin: auto;
    opacity: 1;
    height:180px;
    max-width:960px;

}
.name{
    text-align:center;
    font-size:32px;
    background-color: #500000;
    color: #ffffff;
    float:left;
    width:200px;
    position:relative;
    right: 21px;
    top: 80px;
    font-family: 'Crimson Text', 'Georgia', serif;
    opacity:1;
}
/*Name and clickable pages "contact, portfolio, about"*/
ul{
    list-style-type: none;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
li{
    float:right;
    display:inline;
}


li a{
    text-align:center;
    display:block;
    color:#707373;
    text-decoration:none;
    padding: 14px 16px;
    line-height: 35px;
    position:relative;
    left:21px;
    top:117px;
    font-family: 'Tungsten A', 'Tungsten B', sans-serif;
    opacity:1;
    z-index:4;
    background:#d6d3c4;
    border-right: 1px solid #332c2c;
}
li a:first-child{
    border-right:none;
}

li a:hover{
    background-color: #500000;
}
.isActive {
    background: #500000;
}
/*nav bar only no header*/

/*header including navbar*/
a{
    display: block;
    padding: 8px;
    background-color: #ffffff;
}
hr{
    color: #500000;
    height:1px;
    margin:0px;

}
.main{
    background-color: #ffffff;
    max-width: 960px;
    margin: 20px auto;
    font-family: 'Tungsten A', 'Tungsten B', sans-serif;
    border: 1px solid #332c2c;
    padding: 0 20px 20px 20px;
    overflow:auto;
    
}
body{
    background-image: url("../images/professional-portfolio-background-12.jpg");
}
img{
    float:left;
    height: 200px;
    width: 200px;
    padding: 20px;
}
.aboutsummary{
    margin-left:20px;
    color: #707373;
    
}
h2{
    text-align:left;
    color: #500000;
    padding: 25px;
    margin: 0px auto 0px auto;
    font-family: 'Crimson Text', 'Georgia', serif;
    z-index:4;
}
footer{
    text-align:center;
    height:75px;
    background: #332c2c;
    color: #ffffff;
}
