.data-chat-log{
    overflow:auto;
    height: 10em;
}
.fas{
    font-size:2em;
}
body{
    background:black;
}
.show{
    display:visible;
}

.hide{
    display:none;
}
.customBorder{
    border:2px solid rgb(71, 71, 71);
    border-radius:5px;
    height: 75%
}
#p1-board{
    border-right:2px solid rgb(71, 71, 71);
}